## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Condition
0,0,Dalbandin,28.8947,64.4101,47.01,30,0,4.54,PK,12/13/2021 1:25,clear sky
1,1,Iqaluit,63.7506,-68.5145,2.93,65,75,3.00,CA,12/13/2021 1:25,broken clouds
2,2,Bengkulu,-3.8004,102.2655,78.73,78,79,2.80,ID,12/13/2021 1:25,broken clouds
3,3,Belomorsk,64.5232,34.7668,20.37,96,100,5.21,RU,12/13/2021 1:25,overcast clouds
4,4,Tiksi,71.6872,128.8694,-18.17,99,100,2.26,RU,12/13/2021 1:19,overcast clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Condition
2,2,Bengkulu,-3.8004,102.2655,78.73,78,79,2.80,ID,12/13/2021 1:25,broken clouds
8,8,Rikitea,-23.1203,-134.9692,77.92,75,65,7.58,PF,12/13/2021 1:25,broken clouds
10,10,Hilo,19.7297,-155.0900,80.33,44,75,9.22,US,12/13/2021 1:23,broken clouds
16,16,Atuona,-9.8000,-139.0333,79.09,79,100,17.90,PF,12/13/2021 1:25,overcast clouds
30,30,Poya,-21.3500,165.1500,76.30,93,100,2.73,NC,12/13/2021 1:25,moderate rain
34,34,Hithadhoo,-0.6000,73.0833,80.85,79,43,10.25,MV,12/13/2021 1:21,scattered clouds
36,36,Kapaa,22.0752,-159.3190,80.58,75,75,4.00,US,12/13/2021 1:25,light rain
38,38,Fayaoue,-20.6500,166.5333,80.89,81,100,13.31,NC,12/13/2021 1:25,moderate rain
40,40,Georgetown,5.4112,100.3354,81.90,75,20,2.30,MY,12/13/2021 1:21,few clouds
61,61,Vaini,-21.2000,-175.2000,84.36,84,20,11.50,TO,12/13/2021 1:27,light rain

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID              0
City                 0
Lat                  0
Lng                  0
Max Temp             0
Humidity             0
Cloudiness           0
Wind Speed           0
Country              1
Date                 0
Current Condition    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Condition
2,2,Bengkulu,-3.8004,102.2655,78.73,78,79,2.80,ID,12/13/2021 1:25,broken clouds
8,8,Rikitea,-23.1203,-134.9692,77.92,75,65,7.58,PF,12/13/2021 1:25,broken clouds
10,10,Hilo,19.7297,-155.0900,80.33,44,75,9.22,US,12/13/2021 1:23,broken clouds
16,16,Atuona,-9.8000,-139.0333,79.09,79,100,17.90,PF,12/13/2021 1:25,overcast clouds
30,30,Poya,-21.3500,165.1500,76.30,93,100,2.73,NC,12/13/2021 1:25,moderate rain
34,34,Hithadhoo,-0.6000,73.0833,80.85,79,43,10.25,MV,12/13/2021 1:21,scattered clouds
36,36,Kapaa,22.0752,-159.3190,80.58,75,75,4.00,US,12/13/2021 1:25,light rain
38,38,Fayaoue,-20.6500,166.5333,80.89,81,100,13.31,NC,12/13/2021 1:25,moderate rain
40,40,Georgetown,5.4112,100.3354,81.90,75,20,2.30,MY,12/13/2021 1:21,few clouds
61,61,Vaini,-21.2000,-175.2000,84.36,84,20,11.50,TO,12/13/2021 1:27,light rain

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Condition", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
2,Bengkulu,ID,78.73,broken clouds,-3.8004,102.2655,
8,Rikitea,PF,77.92,broken clouds,-23.1203,-134.9692,
10,Hilo,US,80.33,broken clouds,19.7297,-155.0900,
16,Atuona,PF,79.09,overcast clouds,-9.8000,-139.0333,
30,Poya,NC,76.30,moderate rain,-21.3500,165.1500,
34,Hithadhoo,MV,80.85,scattered clouds,-0.6000,73.0833,
36,Kapaa,US,80.58,light rain,22.0752,-159.3190,
38,Fayaoue,NC,80.89,moderate rain,-20.6500,166.5333,
40,Georgetown,MY,81.90,few clouds,5.4112,100.3354,
61,Vaini,TO,84.36,light rain,-21.2000,-175.2000,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df.dropna(subset = ['Hotel Name'], inplace = True)
clean_hotel_df

,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
2,Bengkulu,ID,78.73,broken clouds,-3.8004,102.2655,Bengkulu
8,Rikitea,PF,77.92,broken clouds,-23.1203,-134.9692,Rikitea
10,Hilo,US,80.33,broken clouds,19.7297,-155.0900,Hilo
16,Atuona,PF,79.09,overcast clouds,-9.8000,-139.0333,Atuona
30,Poya,NC,76.30,moderate rain,-21.3500,165.1500,Poya
...,...,...,...,...,...,...,...
674,Namatanai,PG,87.01,overcast clouds,-3.6667,152.4333,Namatanai
677,Mayor Pablo Lagerenza,PY,82.26,overcast clouds,-19.9309,-60.7718,Mayor Pablo Lagerenza
696,Katobu,ID,85.98,overcast clouds,-4.9408,122.5276,Katobu
698,Rabak,SD,75.33,few clouds,13.1809,32.7400,Rabak
701,Tamandare,BR,78.44,few clouds,-8.7597,-35.1047,Tamandare

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Condition}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))